absl-py==1.4.0
argcomplete==2.0.0
astunparse==1.6.3
bcrypt==3.2.2
Beaker==1.12.1
beautifulsoup4==4.12.2
blivet==3.5.0
blivet-gui==2.4.2
boto3==1.28.21
botocore==1.31.21
Brlapi==0.8.4
cachetools==5.2.0
cffi==1.15.1
chardet==5.2.0
charset-normalizer==2.1.0
click==8.1.3
conda==4.13.0
conda-package-handling==1.8.1
contourpy==1.0.7
cryptography==37.0.2
csbdeep==0.7.3
cupshelpers==1.0
cycler==0.11.0
cykhash==2.0.1
Cython==0.29.36
cytoolz==0.11.2
dasbus==1.6
dbus-python==1.3.2
distro==1.7.0
dnf==4.18.0
dropbox==11.36.0
duplicity==1.2.3
fasteners==0.19
fedora-third-party==0.10
file-magic==0.4.0
flatbuffers==23.5.9
fonttools==4.39.4
fros==1.1
frozendict==1.2
future==0.18.3
gast==0.4.0
google-api-core==2.11.1
google-api-python-client==2.108.0
google-auth==2.23.4
google-auth-httplib2==0.1.1
google-auth-oauthlib==1.0.0
google-pasta==0.2.0
googleapis-common-protos==1.60.0
gpg==1.17.0
grpcio==1.48.4
grpcio-gcp==0.2.2
grpcio-status==1.48.4
h5py==3.8.0
hmmlearn==0.3.0
httplib2==0.20.4
humanize==3.13.1
idna==3.3
imageio==2.28.1
jax==0.4.10
jmespath==1.0.0
joblib==1.3.2
keras==2.12.0
kiwisolver==1.4.4
langtable==0.0.64
lazy_loader==0.2
libclang==16.0.0
libcomps==0.1.20
libdnf==0.72.0
llvmlite==0.40.0
lockfile==0.12.2
lxml==4.9.1
MACS3==3.0.0b3
Mako==1.1.4
Markdown==3.4.3
MarkupSafe==2.1.1
matplotlib==3.7.1
ml-dtypes==0.1.0
networkx==3.1
nftables==0.1
numba==0.57.0
numpy==1.23.5
oauth2client==4.1.3
oauthlib==3.2.2
olefile==0.46
opt-einsum==3.3.0
packaging==21.3
pandas==2.2.2
paramiko==2.12.0
Paste==3.5.0
pexpect==4.8.0
pid==2.2.3
Pillow==9.2.0
platformdirs==2.5.2
ply==3.11
productmd==1.37
prompt-toolkit==3.0.36
protobuf==4.23.1
ptyprocess==0.6.0
pwquality==1.4.5
py-cpuinfo==8.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycairo==1.21.0
pycosat==0.6.3
pycparser==2.20
pycrypto==2.6.1
pycups==2.0.1
pycurl==7.45.1
PyDrive2==1.17.0
pyenchant==3.2.2
Pygments==2.14.0
PyGObject==3.42.2
pykickstart==3.41
PyNaCl==1.4.0
pyopencl==2022.3.1
pyOpenSSL==21.0.0
pyparsing==3.0.9
pyparted==3.12.0
PySocks==1.7.1
python-augeas==1.1.0
python-dateutil==2.8.2
python-meh==0.50
pytools==2022.1.14
pytz==2024.1
pyudev==0.23.2
PyWavelets==1.4.1
pyxdg==0.27
PyYAML==6.0
quickxorhash==1.0.5
radian==0.6.4
rchitect==0.3.40
regex==2023.10.3
requests==2.28.1
requests-file==1.5.1
requests-ftp==0.3.1
requests-oauthlib==1.3.1
rpm==4.18.2
rsa==4.9
ruamel.yaml==0.17.24
ruamel.yaml.clib==0.2.7
s3transfer==0.6.2
scikit-image==0.20.0
scikit-learn==1.3.2
scipy==1.10.1
selinux==3.5
sepolicy==3.5
setools==4.4.0
simpleaudio==1.0.4
simpleline==1.9.0
six==1.16.0
sos==4.4
soupsieve==2.3.2.post1
stardist==0.8.3
stone==3.2.1
systemd-python==235
Tempita==0.5.2
tensorboard==2.12.3
tensorboard-data-server==0.7.0
tensorflow==2.12.0
tensorflow-estimator==2.12.0
tensorflow-io-gcs-filesystem==0.32.0
termcolor==2.3.0
threadpoolctl==3.2.0
tifffile==2023.4.12
toolz==0.11.2
tqdm==4.66.1
typing_extensions==4.5.0
tzdata==2024.1
uritemplate==4.1.1
urllib3==1.26.18
wcwidth==0.2.6
Werkzeug==2.3.4
wrapt==1.14.1
